#--------------------------#
# Magento Default Files    #
#--------------------------#

/PATCH_*.sh

/app/etc/local.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_CurrencySymbol.xml


!/app/desgin/frontend/rwd
/app/desgin/
/app/code/core
/app/lib
/app/js

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml

